<div class="container">
   <div class="titulo">
      <h3>Gestion Listado de Clientes</h3>
      <div>
         <form>
             <div class="form-group form-inline">
                 <input class="form-control" (input)="handlerInput($event)" name="busqueda"  type="text"/>
                 <button  class="button" (click)="filtrar()" type="submit">Buscar</button>
                 <button  class="button" (click)="openModal(cliente)" type="submit">+ Crear</button>
             </div>
           </form>
     </div>
   </div>
   <div class="tabla">
      <table class="table table-dark table-hover">
         <thead>
            <tr class="table-head">
              
              <th class="table-body"  scope="col">Nombre</th>
              <th class="table-body"  scope="col">Apellido</th>
              <th class="table-body"  scope="col">Telefono</th>
              <th class="table-body"  scope="col">Direccion</th>
              <th class="table-body"  scope="col">.</th>

            </tr>
            </thead>
            <tbody>
            <tr  *ngFor="let cliente of clientes">
                <td class="table-item">{{cliente.nombre}}</td>
                <td class="table-item">{{cliente.apellido}}</td>
                <td class="table-item">{{cliente.telefono}}</td>
                <td class="table-item">{{cliente.direccion}}</td>
                <td class="table-item">
                    <button  class="button" (click)="openModal(cliente)" type="submit">Editar</button>
                    <button  class="button" (click)="eliminarClient(cliente.id)"  type="submit">Eliminar</button>
                    
                </td>
            </tr>
            </tbody>
        </table>
   </div>
</div>


