<div class="contenedor">
    <h3>Detalles</h3>
    <div class="detalles" >
        <img src="" alt="">
        <div class="input-nombre">
            <input disabled value="{{lampara.nombre}}"  type="text">
        </div>
        <div class="input-nombre">
            <input disabled name="medidas" value="{{lampara.medidas}}" type="text">
        </div>
        <div class="input-nombre">
            <input disabled name="tipo" value="{{lampara.tipo}}" type="text">
        </div>
        <div class="input-nombre">
            <input disabled name="descripcion" value="{{lampara.descripcion}}" type="text">
        </div>
    </div>
</div>
