 <div class="card">
    <div class="imagen">
      <img src="{{lampara.imagen}}" class="card-img-top" alt="">
    </div>
      <div class="card-body">
        <div class="card-title">
          <h5>{{lampara.nombre}}</h5>
        </div>
        <div class="card-text">
          <p>{{lampara.descripcion}}</p>
        </div>
        <div class="card-text">
          <p>{{lampara.tipo}}</p>
        </div>
        <div class="card-text">
          <p>${{lampara.precio}}</p>
        </div>
      </div>
      <div class="card-footer">
        <a routerLink="/carrito" class="card-link">Comprar</a>
        <a  (click)="openModal()" class="card-link">Detalles</a>
      </div>
    
    
    
