<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
 <div class="card">
    <div class="imagen">
      <img src="{{lampara.imagen}}" class="card-img-top" alt="">
    </div>
      <div class="card-body">
        <div class="card-title">
          <h5>{{lampara.nombre}}</h5>
        </div>
        <div class="card-text">
          <p>{{lampara.descripcion}}</p>
        </div>
        <div class="card-text">
          <p>{{lampara.tipo}}</p>
        </div>
        <div class="card-text">
          <p>${{lampara.precio}}</p>
        </div>
        <div class="card-text">
          <p>stock</p>
        </div>
      </div>
      <div class="card-footer">
       <button (click)="addCart(lampara)" class="btn btn-warning card-link"><i class="bi bi-cart-plus"></i></button>
       
       <button (click)="openModal()" style="padding: 2px;" class="btn btn-info card-link">Detalles</button>
      </div>
    </div>
    
    
    
