.card {
    margin: 20px;
    padding: 25px;
    background-image: url("/assets/imagenes/fondo4.jpg");
    width: 350px;
    height: 500px;
    border-color: rgba(255, 217, 0, 0.809);

}

.card-img-top {
    object-fit: contain;
   
}
.imagen {
    border-color: rgba(255, 217, 0, 0.809);
    border: 2px;
}


.card-text {
    color: white;
    font-size: 20px;
    border-bottom: 10px;
    border-color: rgba(255, 217, 0, 0.809);
}

h5 {
    text-align: center;
    margin: 30px 0px;
    color: white;
}
.card-body {
    padding: 5px;
}

.boton-comprar {
    background: linear-gradient(#e52e71,black);
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    padding: 15px;
    margin: 5px;
    border-color: transparent;
    color: white;
    text-shadow: 3px 3px 7px black;
    text-decoration: underline;
    font-family: 'Nova Mono', monospace;
}


.boton-detalles {
    background: linear-gradient(#bf00ff,black);
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
    padding: 15px;
    margin: 5px;
    border-color: transparent;
    color: white;
    text-shadow: 3px 3px 7px black;
    text-decoration: underline;
    font-family: 'Nova Mono', monospace;
   
}