<div class="container">
    <div class="encabezado">
        <h4>Carrito</h4>
    </div>
    <div class="carrito">
        <table class="table table-striped">
            <thead>
                <tr class="table-head">
                  <th class="table-body"  scope="col"></th>
                  <th class="table-body"  scope="col">Producto</th>
                  <th class="table-body"  scope="col">Cantidad</th>
                  <th class="table-body"  scope="col">Tipo</th>
                  <th class="table-body"  scope="col">Precio</th>
                  <th class="table-body"  scope="col">.</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of cartProduct">
                        <th scope="row"><img src="{{producto.imagen}}" style="width: 50px; height: 50px;" alt=""></th>
                        <td class="table-item">{{producto.nombre}}</td>
                        <td>
                            <button (click)="agregar(producto)">+</button>
                            <input [value]="producto.cantidad"  class="input-cantidad" type="text">
                            <button (click)="quitar(producto)">-</button>
                        </td>
                        <td class="table-item">{{producto.tipo}}</td>
                        <td class="table-item">${{producto.precio}}</td>
                        <td><button  class="button" (click)="cancelarProd(producto)" type="submit"> - </button></td>
                    </tr>
                    <div id="total">
                        <h6>Total: $ {{total}} </h6>
                    </div>
                </tbody>
        </table>
        <button (click)="openModal()">Finalizar compra!</button>
    </div>
</div>
