<div class="container">
    <div class="encabezado">
        <h4>Carrito</h4>
    </div>
    <div class="carrito">
        <table class="table table-striped">
            <thead>
                <tr class="table-head">
                  <th class="table-body"  scope="col"></th>
                  <th class="table-body"  scope="col">Producto</th>
                  <th class="table-body"  scope="col">Cantidad</th>
                  <th class="table-body"  scope="col">Tipo</th>
                  <th class="table-body"  scope="col">Precio</th>
                  <th class="table-body"  scope="col">.</th>
                </tr>
                </thead>
                <tbody>
                    <tr ngfor>
                        <th scope="row"><img src="{{lampara.imagen}}" alt=""></th>
                        <td class="table-item">{{lampara.nombre}}</td>
                        <td>
                            <button (click)="agregar()">+</button>
                            <input class="input-cantidad" type="text">
                            <button (click)="quitar()">-</button>
                        </td>
                        <td class="table-item">{{lampara.tipo}}</td>
                        <td class="table-item">${{lampara.precio}}</td>
                        <td><button  class="button" (click)="eliminarProd()"  type="submit"> - </button></td>
                    </tr>
                </tbody>
        </table>
        <button (click)="openModal()">Finalizar compra!</button>
    </div>
</div>
