<div class="container">
    <div class="pago">
        <h3>Seleccione el metodo de Pago</h3>
        <h6>En efectivo (en el momento que la retiren)</h6>
        <h6>Mercado Pago</h6>
        <h6>Datos de la tarjeta</h6>
    </div>
    <div class="datos">
        <h3>Datos del Cliente</h3>
        Nombre <input type="text">
        <br>
        Apellido <input type="text">
        <br>
        Telefono <input type="text">
        <br>
        Direccion <input type="text">
    </div>
    <button (click)="closeModal()" routerLink="/gracias-por-su-compra">Aceptar</button>
</div>
