.nav-item{
    text-shadow: 7px 7px 6px black;
}

.div-navbar {
    display: block; 
    border-radius: 34px;  
    border: 5px yellow;
    padding: 5px;
    box-shadow: 3px 3px 15px black;
    margin: 20px;
    background: linear-gradient(#ff8a00, #e52e71);
  
}
