#div-encabezado {
   
    text-align: center;
    background-size: cover;
    color: #ff8a00;
    text-shadow: 1px 1px 0px black,
    2px 2px 0px black;
    width: 100%;
  
 }

 .titulo {
    margin: 0px 400px;
 }

 .login-btn {
     margin-left: 150px;
 }
 