<div class="container">
    <h1>NUEVO PRODUCTO</h1>
    <div class="tabla">
        <div class="col-12">
            <div class="input-nombre">
                <h4>Nombre</h4>
                <input  name="nombre" [(ngModel)]="lampara.nombre" type="text">
            </div>
            <div class="input-imagen">
                <h4>Imagen</h4>
               <img src="{{lampara.imagen}}" alt="Imagen del producto">
               <input type="file" name="imagen" [(ngModel)]="lampara.imagen" >
            </div>
            <div class="input-tipo">
                <h4>Tipo</h4>
                <input type="text"  name="tipo" [(ngModel)]="lampara.tipo">
                
            </div>
            <div class="input-precio">
                <h4>Precio</h4>
                <input type="number" name="precio" [(ngModel)]="lampara.precio">
            </div>
            <div class="input-descripcion">
                <h4>Descripcion</h4>
               <textarea name="descripcion" [(ngModel)]="lampara.descripcion" id=""></textarea>
            </div>
            <div class="boton">
                <button class="guardar" type="submit" (click)="guardar()">Guardar</button>
            </div>
        
        </div>
    </div>
</div>

