

.container {
    background: linear-gradient(#ff8a00, #e52e71);
    color: white;
    text-shadow: 5px 5px 7px black;
    box-shadow: 5px 5px 0px black;
}

h1 {
    margin: 0%;
    display: block;
}

.col-12 {
    text-align: center;
}

input {
    box-shadow: 5px 5px 10px black;
}

img {
    object-fit: contain;
    width: 250px;
    height: 200px;
}

